*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    padding: 100px 0;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: orangered;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}





.home .home-content span {
    color: orangered;
    font-weight: 500;
}

.home {
    display: flex;
    height: 100vh;
    color: #fff;
    background-color: #111;
    min-height: 500px;
    margin-top: -16vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    
    
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .home-content .text-1 {
    font-size: 47px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}



body > table{
    width: 100%;
    color: white;
    margin-top: -44vh;

}

table{
    border-collapse: collapse;
    background-color: #111;
    }
table.list{
    width:100%;

}

th{
    background-color: #5a5a5a;
    color: white;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: top;

}
table .list{
    font-size: 40px;
}


/* Define the hover highlight color for the table row */

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: #5a5a5a;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #ee5b00;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

/* footer section styling */

footer {
    background-color:  orangered;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
